<% if flash[:notice] %>
	<div class="flash">
		<%= flash[:notice] %>
	</div>
<% end %>

<h4>Title:</h4>
<%= @report.title %>

<h4>Body:</h4>
<%= @report.body %>

<br>
<%= link_to "Edit", edit_report_path(@report),class: "edit_#{@report.id}" %>
<%= link_to "Back", reports_path,class: "back" %>

